<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Glokool</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.glokool.payments</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Paypal</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Glokool</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Glokool</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.603637824492-i5ofvov741ndb424rmrqn3sahbta5gg5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1089890191536744</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1089890191536744</string>
	<key>FacebookClientToken</key>
	<string>CLIENT-TOKEN</string>
	<key>FacebookDisplayName</key>
	<string>APP-NAME</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kftc-bankpay</string>
		<string>ispmobile</string>
		<string>itms-apps</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>kb-acp</string>
		<string>mpocket.online.ansimclick</string>
		<string>ansimclickscard</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>cloudpay</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>kakaotalk</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>hanamopmoasign</string>
		<string>wooripay</string>
		<string>nhallonepayansimclick</string>
		<string>hanawalletmembers</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App would like to use your camera for Chat function</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Use to inform the guide of your location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Use to inform the guide of your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use to inform the guide of your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This sample uses the microphone to record your speech and convert it to text.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App would like to use your photo Library for Chat function</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/BrandonGrotesque-Bold.ttf</string>
		<string>Fonts/BrandonGrotesque-BoldItalic.ttf</string>
		<string>Fonts/BrandonGrotesque-Medium.ttf</string>
		<string>Fonts/BrandonGrotesque-MediumItalic.ttf</string>
		<string>Fonts/IBMPlexSansKR-Bold.ttf</string>
		<string>Fonts/IBMPlexSansKR-Medium.ttf</string>
		<string>Fonts/IBMPlexSansKR-SemiBold.ttf</string>
		<string>Fonts/IBMPlexSansKR-Text.ttf</string>
		<string>Fonts/NotoSans-SemiCondensedSemiBold.ttf</string>
		<string>Fonts/NotoSansCJKkr-Regular.ttf</string>
		<string>Fonts/Roboto-Medium.ttf</string>
		<string>Fonts/FontsFree-Net-SFProDisplay-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
