<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Glokool</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.glokool.payments</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Paypal</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Glokool</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	<string>kftc-bankpay</string> <!-- 계좌이체 -->
	<string>ispmobile</string> <!-- ISP모바일 -->
	<string>itms-apps</string> <!-- 앱스토어 -->
	<string>hdcardappcardansimclick</string> <!-- 현대카드-앱카드 -->
	<string>smhyundaiansimclick</string> <!-- 현대카드-공인인증서 -->
	<string>shinhan-sr-ansimclick</string> <!-- 신한카드-앱카드 -->
	<string>smshinhanansimclick</string> <!-- 신한카드-공인인증서 -->
	<string>kb-acp</string> <!-- 국민카드-앱카드 -->
	<string>mpocket.online.ansimclick</string> <!-- 삼성카드-앱카드 -->
	<string>ansimclickscard</string> <!-- 삼성카드-온라인결제 -->
	<string>ansimclickipcollect</string> <!-- 삼성카드-온라인결제 -->
	<string>vguardstart</string> <!-- 삼성카드-백신 -->
	<string>samsungpay</string> <!-- 삼성카드-삼성페이 -->
	<string>scardcertiapp</string> <!-- 삼성카드-공인인증서 -->
	<string>lottesmartpay</string> <!-- 롯데카드-모바일결제 -->
	<string>lotteappcard</string> <!-- 롯데카드-앱카드 -->
	<string>cloudpay</string> <!-- 하나카드-앱카드 -->
	<string>nhappcardansimclick</string> <!-- 농협카드-앱카드 -->
	<string>nonghyupcardansimclick</string> <!-- 농협카드-공인인증서 -->
	<string>citispay</string> <!-- 씨티카드-앱카드 -->
	<string>citicardappkr</string> <!-- 씨티카드-공인인증서 -->
	<string>citimobileapp</string> <!-- 씨티카드-간편결제 -->
	<string>kakaotalk</string> <!-- 카카오톡 -->
	<string>payco</string> <!-- 페이코 -->
	<string>lpayapp</string> <!-- 롯데 L페이 -->
	<string>hanamopmoasign</string> <!-- 하나카드 공인인증앱 -->
	<string>wooripay</string> <!-- 우리페이 -->
	<string>nhallonepayansimclick</string> <!-- NH 올원페이 -->
	<string>hanawalletmembers</string> <!-- 하나카드(하나멤버스 월렛) -->
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Use to inform the guide of your location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Use to inform the guide of your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use to inform the guide of your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This sample uses the microphone to record your speech and convert it to text.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App would lite to use your photo Library for Chat function</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/NotoSansCJKkr-Regular.otf</string>
		<string>Fonts/NotoSansCJKkr-Bold.otf</string>
		<string>Fonts/NotoSansCJKkr-Medium.otf</string>
		<string>Fonts/BrandonGrotesque-Black.ttf</string>
		<string>Fonts/BrandonGrotesque-Bold.ttf</string>
		<string>Fonts/BrandonGrotesque-Medium.ttf</string>
		<string>Fonts/IBMPlexSansKR-SemiBold.ttf</string>
		<string>Fonts/IBMPlexSansKR-Medium.ttf</string>
		<string>Fonts/IBMPlexSansKR-Text.ttf</string>
		<string>Fonts/IBMPlexSansKR-Bold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
